.popularProductContainer {
    margin: 5rem 12rem;
}

.popularProductGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 8rem;
}

.popularProuctHeading {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    margin-top: 12rem !important;
}